<%= form_for([@article, @article.comments.build]) do |f| %>
 
   <p>
    <h4><%= f.label :commenter %></h4><br>
    <%= f.text_field :commenter %>
  </p>
 
  <p>
   <h4> <%= f.label :body %></h4><br>
    <%= f.text_area :body %>
  </p>
 
  <p>
    <div class="button"><%= f.submit :create %></div>
  </p>
<% end %>