  <div class="content">
    <header>
      <h1>My Blog</h1>
      <a class="button"><%= link_to 'New article', new_article_path %></a>
     </header> 
      <% @articles.each do |article| %>
     <section class="post">


      <h1><%= article.title %></h1>
      <p><%= article.text %></p>
      
      <div class="control">
      <a><%= link_to 'read', article_path(article) %></a>
      <a><%= link_to 'edit', edit_article_path(article) %></a>
      <a><%= link_to 'destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></a>
      </div>
      </section>
      <% end %>
      
</div>
<footer>
</footer>