<div class="content">
  <section class="post">

<h1>
  <%= @article.title %>
</h1>
 
<p>
  <%= @article.text %>
</p>
<div class="control"> 
<%= link_to 'edit article', edit_article_path(@article) %> |
<%= link_to 'back to articles', articles_path %>
</div>
</section> 
<div class="blockcom">
<h2>Comments:</h2>

<%= render @article.comments %>
</div>
<h2>Add a comment:</h2>
<div class="newform fc"> <%= render 'comments/form' %></div>
</div>